[2020-10-06 15:20] zacharyburnettNOAA opened #3 "add parameters to `fort.15`"
several parameters in `fort.15` need to be modified for a NUOPC coupling configuration:

`NWS`, line 16:
[code]
(`NWS` has value `17` for NUOPC-coupled atmosphere, and adds `500` for NUOPC-coupled wind stress)

`WTIMINC RSTIMINC`, line 23
[code]

[2020-10-06 16:40] zacharyburnettNOAA opened #4 "set node tasks and processors in `slurm.job` to the configured number of PETs"
`slurm.job` currently uses a static number of tasks:
https://github.com/noaa-ocs-modeling/ensemble_perturbation/blob/04e6cc1557805c57ada69ab25286be639b74ffe3/ensemble_perturbation/configuration/slurm.job#L7-L8

it should use the number of tasks specified in `petlist_bounds` instead

[2021-01-05 19:43] zacharyburnettNOAA opened #12 "dependencies not in Hera channel"
the following dependencies are in `environment.yml`; the ones at 0% do not exist within the Hera conda channel (https://anaconda.rdhpcs.noaa.gov/conda-forge).
[code]

[2021-01-05 20:35] zacharyburnettNOAA commented on #12
full output from `conda env create --file environment.yml`:
[code]

[2021-01-05 20:36] #4 closed

[2021-01-05 21:02] zacharyburnettNOAA commented on #12
currently attempting the following:
1. download package `.tar.gz` from https://anaconda.org/anaconda/repo
2. push to Hera via edtn.fairmont.rdhpcs.noaa.gov
3. install with `conda install package.tar.gz`

[2021-01-05 21:09] zacharyburnettNOAA commented on #12
https://anaconda.org/anaconda/beautifulsoup4/4.9.3/download/noarch/beautifulsoup4-4.9.3-pyhb0f4dca_0.tar.bz2
https://anaconda.org/conda-forge/rtree/0.9.7/download/linux-64/rtree-0.9.7-py39hb102c33_0.tar.bz2
https://anaconda.org/conda-forge/libspatialindex/1.9.3/download/linux-64/libspatialindex-1.9.3-he1b5a44_3.tar.bz2
https://anaconda.org/conda-forge/bs4/4.9.3/download/noarch/bs4-4.9.3-0.tar.bz2

[2021-01-08 18:57] zacharyburnettNOAA opened #14 "disk quota exceeded error when processing HSOFS mesh on Hera"
[code]

[2021-01-08 18:59] zacharyburnettNOAA commented on #14
@saeed-moghimi-noaa found this explanation:
https://anaconda.zendesk.com/hc/en-us/articles/360024036713-CondaError-OSError-122-Disk-quota-exceeded-and-Changing-the-Default-Package-Directory

[2021-04-14 14:59] #14 closed

[2021-06-15 13:00] krober10nd opened #25 "tidal perturbations"
* how does the function https://github.com/noaa-ocs-modeling/EnsemblePerturbation/blob/main/examples/adcirc/perturb_tides.py
work?

What's the strategy you guys use to perturb the tides to capture arbitrary storm-tide timing?

[2021-06-15 17:49] zacharyburnettNOAA commented on #25
oh whoops, this function call is outdated and will not work. Good catch @krober10nd

the function `generate_adcirc_configuration` is now in `CoupledModelDriver` ([coupledmodeldriver/generate/adcirc/generate.py](https://github.com/noaa-ocs-modeling/CoupledModelDriver/blob/main/coupledmodeldriver/generate/adcirc/generate.py)).

The function works by reading JSON files from the specified directory
ht

[2021-06-15 20:50] krober10nd commented on #25
Thanks Zach for the clarification.

I'll try these out. I guess I was looking for an existing methodology that made sense to perturb start times to "adequately" sample the storm-tide uncertainty.

This is of course a science question that constantly arises in our field.

[2021-06-16 17:20] zacharyburnettNOAA commented on #25
@krober10nd here is the current example to perturb ATCF tracks by 4 variables (2 scalar, 2 spatial) and build configurations per-value:
https://github.com/noaa-ocs-modeling/EnsemblePerturbation/blob/6e4b873f70589b2412f8d2e8a9fa8c8fa6dcedef/examples/adcirc/perturb_tracks.py#L88-L108

[2021-06-18 15:55] zacharyburnettNOAA opened #27 "identify / quantify base errors with COASTAL Act model inputs / outputs"
- [ ] ADCIRC
- [ ] SCHISM
- [ ] GFS
- [ ] WW3
- [ ] TPXO
- [ ] HAMTIDE

[2021-06-18 15:57] zacharyburnettNOAA opened #28 "build methodology for combining ensemble results"
- [ ] ADCIRC
- [ ] SCHISM

[2021-06-18 15:58] zacharyburnettNOAA opened #29 "determine propagated error through model ensemble"

[2021-06-22 15:24] saeed-moghimi-noaa opened #30 "Z. Burnett, W. Pringle, S. Moghimi,..., Implementing an automated python framework for ensemble generation and uncertainty quantification. In prep., NOAA Technical Memorandum, in prep, 2021."

[2021-06-22 15:25] saeed-moghimi-noaa opened #31 "W. Pringle, Z. Burnett, S. Moghimi, K. Sargsyan,... Development of an efficient ensemble generation and uncertainty quantification for NOAA’s hurricane surge on-demand forecast system, in preparation for Geoscientific Model Development, 2021."

[2021-06-22 15:25] saeed-moghimi-noaa opened #32 "W. Pringle, S. Moghimi, .... A data-driven automated method for subsetting an unstructured mesh for hurricane impacted regions. In prep., NOAA Technical Memorandum, in prep, 2021."

[2021-06-22 15:26] saeed-moghimi-noaa commented on #30
@WPringle

[2021-06-22 15:26] saeed-moghimi-noaa commented on #31
@WPringle

[2021-06-22 15:27] saeed-moghimi-noaa commented on #32
@WPringle

[2021-06-24 14:20] zacharyburnettNOAA opened #33 "fix track perturbation (all track files are identical)"
@WPringle noticed that the generated tracks are identical, so something is going wrong in the perturbation currently

[2021-06-24 16:16] WPringle commented on #33
Ah yes I see that this is the case even for the reference data in this repository. Didn't check that before.
Was definitely working on the original repository though...

[2021-06-25 14:13] zacharyburnettNOAA commented on #33
looks like the problem is here:
https://github.com/noaa-ocs-modeling/EnsemblePerturbation/blob/f554e292e214422040818304478baa5fc9d1fc3c/ensembleperturbation/perturbation/atcf.py#L828

there is no `._df` property anymore, I renamed it to be `.dataframe` to be more descriptive

[2021-06-25 14:19] #33 closed

[2021-06-25 15:10] WPringle opened #35 "Same results for each ensemble of each variable in the tests"
In the` /tests/data/reference/test_besttrack_ensemble
`directory all three files of each variable perturbation, e.g., `radius_of_maximum_winds_[1-3].22` are the same.

Also for the `radius_of_maximum_winds_[1-3].22, we get the maximum possible Rmax (=200) for all time snaps. That should probably not happen.

[2021-06-25 15:13] WPringle commented on #35
Comparison of `original.22` and `radius_of_maximum_winds_1.22`
<img width="1362" alt="image" src="https://user-images.githubusercontent.com/21131934/123445841-e98f5a80-d59d-11eb-89c1-33862bdd8ed6.png">

[2021-06-25 17:11] WPringle commented on #35
This related to the alpha input in the test being constant. Changing to become a list.

[2021-06-25 17:16] WPringle opened #36 "Original best track is modified if perturb.write called twice?"
Trying out following code for test:

    # hardcoding variable list for now
    gauss_variables = [
        MaximumSustainedWindSpeed,
        CrossTrack
    ]
    range_variables = [RadiusOfMaximumWinds]

    perturber = VortexPerturber(storm='al062018', start_date='20180911', end_date=None)

    perturber.write(
        number_of_perturbations=2, variables=gauss_variables, directory=output_direc

[2021-06-28 19:43] zacharyburnettNOAA commented on #36
fixed by 4167d8b

[2021-06-28 19:43] #36 closed

[2021-06-29 16:24] WPringle opened #38 "Two columns of atcf file not being written correctly"
Recent PR fixed problem of perturbations to the track and Rmax.
However, there is something happening to two of the last columns during the writing of the file.
This is a comparison of the the "original.22" file for Hurricane Florence between this repo and the Storm-Surge-Mesh-Subsetting repository on the right:
<img width="1551" alt="image" src="https://user-images.githubusercontent.com/21131934/

[2021-06-29 16:27] WPringle commented on #38
Looks like this corresponds to DIR and SPEED (of the storm). Not sure if it is really important or not but DIR should be in degrees from 0-359 and SPEED should be 0-999 kts, presumably both integers.

[2021-07-01 17:29] saeed-moghimi-noaa opened #39 "UQ product list:"
- [ ] uncertainty map
- [ ] ?
- [ ] ..

[2021-07-01 17:29] saeed-moghimi-noaa commented on #39
![image](https://user-images.githubusercontent.com/66274703/124165902-514b1700-da70-11eb-8d13-6456aa22b6ec.png)

[2021-07-02 15:49] zacharyburnettNOAA commented on #38
fixed with 8a91474993bcb9aaaa5a6f9a827e860a2bed1856

[2021-07-02 15:50] #38 closed

[2021-07-02 19:46] zacharyburnettNOAA opened #40 "test besttrack ensembles on Hera"
currently running two different ensembles, one with ADCIRC+BESTTRACK and one with NEMS+ADCIRC+BESTTRACK+ATMESH, both running from the same perturbation of track files (3 per variable over 4 variables: along-track, cross-track, radius of maximum winds, maximum sustained wind speed)
[code]
jobs:
[code]

@WPringle suggested to reduce the amount of perturbations to 2 per variable, so I will do that fo

[2021-07-02 19:49] zacharyburnettNOAA commented on #40
the ADCIRC+BESTTRACK run appears to have failed out for some reason, but the NEMS+ADCIRC+BESTTRACK run is still running
[code]

[2021-07-02 19:58] zacharyburnettNOAA commented on #40
the hotstart runs in `/scratch2/COASTAL/coastal/save/shared/working/zach/nems_adcirc/run_20210702_perturbed_track_example/runs/` did not run because the spinup completed but with MPI errors (the hotstart runs were set to `afterok` so they did not start)

[2021-07-02 20:38] WPringle commented on #40
What kind of errors?

[2021-07-06 15:01] zacharyburnettNOAA commented on #40
it looks like the new configuration (NEMS+ADCIRC+BESTTRACK) with `aswip` included runs completely (no MPI errors and full output files).

I've put it here:
[code]

[2021-07-06 15:24] WPringle commented on #40
@zacharyburnettNOAA Cool, so what is the difference between NEMS and non-NEMS in terms of result?

I don't have access to Hera, can please mirror (copy?) these runs to the Orion share space (`/work/noaa/nosofs/share/working/zach/`) please?

[2021-07-06 15:27] WPringle commented on #40
@zacharyburnettNOAA just FYI, I'm preparing slides for Thursday meeting with ERDC and want to show some of the results of the perturbation so this is somewhat urgent to get these results.

[2021-07-06 18:01] zacharyburnettNOAA commented on #40
sure thing, it looks like the new ICS22 run also ran through fine. I will copy both runs over to Orion and post the locations here

Additionally, I have been working with Takis to determine the reasons for the MPI errors, he has been updating the NEMS code to solve some of those problems and we should be able to merge those changes in sometime soon

Additionally additionally, I also implemented co

[2021-07-06 19:07] zacharyburnettNOAA commented on #40
NEMS runs are now in `/work/noaa/nosofs/share/working/zach/nems_adcirc`, and I am working on ADCIRC-only runs and will put them in `/work/noaa/nosofs/share/working/zach/adcirc` when finished

[2021-07-06 19:37] WPringle commented on #40
@zacharyburnettNOAA awesome, can you let me know what is difference between NEMS_adcirc and adcirc only? Is it only the fact the nems one is run by the nems system but result should be same right?

[2021-07-06 20:11] zacharyburnettNOAA commented on #40
yes it should just be that, ADCIRC is built into `NEMS.x` so it'll be using ESMF variables and the cap thingies to pass info but ADCIRC itself is untouched except for the modules it's built with

[2021-07-06 22:28] WPringle commented on #40
@zacharyburnettNOAA For some reason I noticed in the `run_20210706_perturbed_track_example_ICS22` runs that while the main fort.15 is different to the `run_20210706_perturbed_track_example`as follows:
<img width="1109" alt="image" src="https://user-images.githubusercontent.com/21131934/124673905-5b5d8300-de7f-11eb-893c-08b846f0b40e.png">

The fort.15s that are prepped (the ones in the PE directori

[2021-07-06 22:36] WPringle commented on #40
@zacharyburnettNOAA These runs were with the old perturbation tracks? For future can make sure also to do the "original.22" simulation.

[2021-07-07 16:14] WPringle commented on #40
@zacharyburnettNOAA Hey just to let you know I did some runs yesterday on the Argonne machine for the Hurricane Florence perturbation tests, so I could just quickly get some results.
For reference I copied the results to Orion at `/work/noaa/nosofs/share/working/william/Florence_perturbation_test/`. I think it would help to compare this with your setup to make sure everything is in order for the E

[2021-07-09 15:39] saeed-moghimi-noaa commented on #40
@zacharyburnettNOAA

Please make sure padcirc with large ensemble works on hera before switch to nems.

for NEMS:
-  nws=8,19,20 does not need atmesh (atm forcing provided by wind.f internally).
-  you can use nws=520 or 519 to include wavdata

[2021-07-19 16:26] WPringle opened #42 "implement multivariate perturbation of cyclone variables"
In addition to allowing for perturbation of a single variable (Rmax, Vmax, cross-track, along-track) need to introduce functionality to vary multiple variables at once.

[2021-07-19 16:30] WPringle opened #43 "make sure perturbed cyclone parameters are recorded somewhere"
to keep track of the perturbation parameter (i.e., the alpha) for each cyclone variable (Vmax, Rmax, cross-track, along-track) especially when using the random variable functionality, need to make sure these values are output somewhere along with the `fort.22` file

[2021-07-19 16:34] WPringle commented on #40
@zacharyburnettNOAA

Implement perturbations using NWS = 8 (standard Holland model) as well, so we can more easily get effect from Rmax.

I can also try on my end except today the Argonne computers are down, so try tomorrow hopefully.

[2021-07-19 16:34] WPringle commented on #43
@zacharyburnettNOAA

[2021-07-19 16:34] WPringle commented on #42
@zacharyburnettNOAA

[2021-07-19 19:28] WPringle opened #44 "`test_besttrack_ensemble` test failing"
- The files in the `output` directory did not match those in the `reference` one.

If the `reference` files have not been updated since recent commits, then need to check make sure there is no mistake for the recent commits, assuming it was correct in the old implementation.

[2021-07-20 02:11] WPringle commented on #44
@zacharyburnettNOAA

[2021-07-20 03:25] WPringle opened #46 "assemble perturbation inputs and outputs for UQ analysis"
- Need inputs matrix IN of the perturbation parameter for each variable in each perturbation, size [NPER x INVAR].
- Need outputs matrix OUT for each perturbation at the selected sampling points, size [NPTS x OUTVAR]

NPER -> number of perturbations/size of ensemble
INVAR -> number of perturbed input variables
NPTS -> number of points to sample outputs at
OUTVAR -> number of output variables to te

[2021-07-20 14:17] zacharyburnettNOAA commented on #40
ok, I've run a `nws=20` run on Hera and put it at `/work/noaa/nosofs/share/working/zach/nems_adcirc/run_20210719_perturbed_track_example_nws8/` on Orion

I will work on running a `nws=8` run

[2021-07-20 15:31] zacharyburnettNOAA commented on #44
the newest code seems to fix this problem by updating the dataframe setter and reference files

[2021-07-20 15:31] #44 closed

[2021-07-20 18:11] #42 closed

[2021-07-20 18:11] #43 closed

[2021-07-20 23:42] WPringle commented on #46
#45 creates the h5 files which can be used to generate the OUT matrix.
#48 records the perturbed variable parameters which can be used to generate the IN matrix.

[2021-07-20 23:57] WPringle opened #49 "test_besttrack_ensemble tests failing"
Hi @zacharyburnettNOAA ,

I merged the latest upstream main into my fork and tried running all the tests. I ran into issues again with the besttrack_ensemble tests (running out of the box after installing):

One of them in the monovariate test (the reference json has everything on just one list but the output json has the curly braces on their own lines):
[code]

The other for the multivariate tes

[2021-07-21 01:00] WPringle commented on #46
This is example output of "sensitivity" of maximum elevation in form of standard deviation from the Hurricane Florence monovariate perturbation test, as read from the HDF5 collection of a subset of the data
<img width="689" alt="image" src="https://user-images.githubusercontent.com/21131934/126413875-7f71ee9d-ad29-478b-a992-7fb9e8f58a8f.png">

[2021-07-21 15:08] zacharyburnettNOAA commented on #49
ah ok, these are simple fixes, I'll fix these

it looks like I just had the output files on my machine so it was passing the tests automatically

[2021-07-21 15:11] zacharyburnettNOAA commented on #49
also I added `pytest-mock` to the requirements, so you might need to `pip install` that as well

[2021-07-21 15:33] zacharyburnettNOAA commented on #49
@WPringle fixed with 984703e4d1f9952f4ddc18163165c7596be5c9d1, also you don't need to install `pytest-mock` after all as I didn't actually use it

[2021-07-21 15:33] #49 closed

[2021-07-21 20:53] saeed-moghimi-noaa commented on #40
@WPringle  @zacharyburnettNOAA
I replaced NWS=8 with NWS=19 and worked out of the box. See here:
/scratch2/COASTAL/coastal/save/shared/saeed/v05/run_20210720_perturbed_track_example_nws19

![image](https://user-images.githubusercontent.com/66274703/126558668-b05d2851-5c2f-4aeb-8e30-e7cf5132b470.png)

[2021-07-22 16:03] WPringle commented on #40
Thanks @saeed-moghimi-noaa , can you move to Orion also?

[2021-07-23 14:15] zacharyburnettNOAA commented on #40
@WPringle I've put a few runs in the `/work/noaa/nosofs/share/working/hera` folder to keep them separate from the ones run on Orion

here is the `nws=8` run:
[code]

[2021-07-23 15:03] WPringle commented on #40
@zacharyburnettNOAA can you set permissions to the `/work/noaa/nosofs/share/working/hera/` folders/subfolders? thanks

[2021-07-23 17:43] saeed-moghimi-noaa opened #53 "Ensemble computation optimization"
-[ ] 2000 per core is the optimized number
-[ ] best track
-[ ] forecast

[2021-08-05 15:38] WPringle commented on #46
Ayyad, M., Hajj, M. R., & Marsooli, R. (2021). Spatial Variation in Sensitivity of Hurricane Surge Characteristics to Hurricane Parameters. Journal of Engineering Mechanics, 147(10), 04021070. https://doi.org/10.1061/(ASCE)EM.1943-7889.0001984
[PDF](https://github.com/noaa-ocs-modeling/EnsemblePerturbation/files/6939881/28ASCE.29EM.1943-7889.0001984.pdf)

[2021-08-05 15:54] WPringle commented on #46
Here is my whole bibliography for Ensemble Perturbation papers [EnsembleForecasting.bib.zip](https://github.com/noaa-ocs-modeling/EnsemblePerturbation/files/6939991/EnsembleForecasting.bib.zip)

[2021-08-10 17:54] #3 closed

[2021-08-12 17:11] zacharyburnettNOAA commented on #40
I've just run a 40-member multivariate perturbation for Florence on the 250m subsetted mesh (`run_20210812_florence_multivariate_besttrack_250msubset_40members`):
[code]
[code]

[2021-08-12 17:20] WPringle commented on #40
Thanks @zacharyburnettNOAA, I will take a look!

[2021-08-12 17:27] saeed-moghimi-noaa commented on #40
@zacharyburnettNOAA

The completion test looks like a neat feature !  👍

[2021-08-12 21:30] WPringle commented on #40
@zacharyburnettNOAA Hey, everything looks like it went through good. Notes on couple of things:
- NWS = 20
- Velocity outputs are probably not needed for now (if want to save space)
- DT = 2 and implicit scheme is used. For this small time step I recommend explicit method.

Will check it out results in detail and try using the new CLI option for collecting them.

[2021-08-16 17:03] WPringle opened #57 "parameter space discussion"
@zacharyburnettNOAA Wondering if you were able to get the [UQTk](https://github.com/sandialabs/UQTk) package compiled before?

I keep getting linkage problem to lapack/blas:
[code]

Just wondering if you were successful and encountered any issues?

[2021-08-17 12:56] zacharyburnettNOAA commented on #57
I have not looked into UQTk, instead I am looking at how to implement examples from `chaospy` (https://chaospy.readthedocs.io/en/master/user_guide/quick_tutorial.html). I figure we can formalize the distributions of each variable and then use `chaospy` to perform UQ? I'm still reading up on it.

[2021-08-17 14:34] zacharyburnettNOAA opened #58 "handle variable fields that are not data frames (`zeta`, `u-vel`, `v-vel`, etc.) that exist on a 2D field"
when running `combine_results`

[2021-08-17 15:07] WPringle commented on #57
@zacharyburnettNOAA Cool, yeah I can ask Khachik more about how to use UQTk on Wednesday. Thanks for looking into chaospy too.
I was finally able to compile UQTk on another machine. It was very finicky for what versions of compilers and other things to use.

[2021-08-17 15:10] WPringle commented on #46
closed with #56

[2021-08-17 15:10] #46 closed

[2021-08-17 16:14] zacharyburnettNOAA commented on #57
@WPringle I'm still a bit confused on the whole structure of the UQ, would you mind if we had a video chat about it when you have the time?

[2021-08-17 16:38] WPringle commented on #57
@zacharyburnettNOAA Me too :) I think that's what we want to find out more from Khachik. But I can chat now if you are free. I'll be a bit busy rest of the day.

[2021-08-17 17:14] zacharyburnettNOAA commented on #57
@WPringle sorry, just saw this. Are you still free? If not, then that is fine

[2021-08-17 17:17] zacharyburnettNOAA commented on #57
I followed the `chaospy` examples to make a script that works on our 4 variables:
[code]
![sobol](https://user-images.githubusercontent.com/52422935/129771282-cfa121e3-e1d5-4f05-938d-6796a7279c72.png)

[2021-08-17 17:17] WPringle commented on #57
Ok I have another meeting in a few minutes, I'll try again if there is some free time later this afternoon and see if you're on.

[2021-08-17 17:20] WPringle commented on #57
Oh that's interesting, so the x axis is the gaussian and the y axis the uniform parameters? I think is the type of thing we want for choosing the parameter space effectively.

[2021-08-17 18:41] zacharyburnettNOAA commented on #57
made new pull request #59

[2021-08-18 16:52] zacharyburnettNOAA commented on #40
running `nws=8` with `explicit` results in the following error when running `adcprep`:
[code]

[2021-08-18 17:21] pvelissariou1 commented on #40
Zach,
What input file unit -5 points to?

Panagiotis Velissariou, Ph.D., P.E.
UCAR Scientist
National Ocean and Atmospheric Administration
National Ocean Service
Office of Coast Survey CSDL/CMMB
Project Lead - Coastal Coupling
USM - Stennis Space Center
cell: (205) 227-9141
email: ***@***.***

On Wed, Aug 18, 2021 at 11:52 AM Zachary Burnett ***@***.***>
wrote:

[2021-08-18 17:40] WPringle commented on #40
@zacharyburnettNOAA That's strange how `aswip` is getting an error, but you can skip the `aswip` step for `nws=8`.

[2021-08-19 18:32] zacharyburnettNOAA commented on #40
@WPringle I've successfully run a 40-member run on Hera using `nws=8` by not using `aswip`. I've put it on Orion in the `working/hera/nems_adcirc` folder.

attempting to run on the 120m mesh results in the following:
[code]
this must be the thing you were talking about before. I will double check the run times and try again.

[2021-08-19 18:38] zacharyburnettNOAA commented on #40
The run times are here:
[code]

[2021-08-22 20:28] WPringle commented on #40
yeah that's pretty strange that the 250m would run and the 120m would not.

I checked the `/work/noaa/nosofs/share/working/hera/nems_adcirc/run_20210818_florence_multivariate_besttrack_250msubset_40members_nws8/runs/` directory but `nws = 19` is found in the `fort.15` and the best track configure file, not `nws=8`. Perhaps that's the reason for the difference.

I think the problem is that the `sta

[2021-08-23 18:03] zacharyburnettNOAA commented on #57
@WPringle I put Khachik's example scripts onto the `feature/chaospy` branch, I'm looking through the functions. Additionally, I'm also spinning up some runs with NWS=8 (checking for that this time) so that should have some more variability in Rmax

[2021-08-23 18:26] WPringle commented on #57
@zacharyburnettNOAA Cool thanks~

[2021-08-30 14:31] zacharyburnettNOAA commented on #40
made new issue: https://github.com/jreniel/adcircpy/issues/123

[2021-08-30 15:33] zacharyburnettNOAA commented on #40
running 40 members over the full 250m mesh with `nws=8`:
[code]
[code]
doing `--verbose` reveals an obscure error:
[code]
[code]
`PET181.ESMF_LogFile` and `PET164.ESMF_LogFile` don't have any errors:
[code]
[code]
[code]

[2021-08-31 13:51] zacharyburnettNOAA commented on #40
https://github.com/adcirc/adcirc-cg/blob/1cb21334f8fd2474f76279c0aba726bd93e9493b/src/wind.F#L5286-L5289
[code]

[2021-08-31 17:51] zacharyburnettNOAA commented on #40
@WPringle I've copied the failing run to the following location on Orion:
[code]

here is the output of `check_completion` for the entire ensemble:
[code]
[code]
and `check_completion` looking at one of the runs (specifically `runs/vortex_4_variable_perturbation_1`):
[code]
[code]

[2021-08-31 19:28] WPringle commented on #40
@zacharyburnettNOAA Almost got the `generate_adcirc` for this setup working on my system.
I kept the platform option to "HERA" in `configure_modeldriver.json`since also slurm.
But then I specified my account in `configure_slurm.json` but this was overwritten to `coastal` in the job scripts when ran `generate_adcirc`. Otherwise everything seems oK.

I wonder, what is the platform "HERA" really doin

[2021-09-01 11:10] zacharyburnettNOAA commented on #40
That's a good point, I think the `platform` parameter is a holdover from before I had `configure_slurm.json`. It uses these values as default:
https://github.com/noaa-ocs-modeling/CoupledModelDriver/blob/02fccc8be24c96f545d26d7c7efcacd5dfe8fbe7/coupledmodeldriver/platforms.py#L5-L12
[code]
It must be messing up and overriding the values in `configure_slurm.json` with the default values. I'll take

[2021-09-02 17:42] WPringle commented on #40
@zacharyburnettNOAA I put the successful run using NWS=8 on Orion: `/work/noaa/nosofs/share/wpringle/NWS8_test/`
I wasn't sure how we can use the globus group to "share" with each other.

[2021-09-02 18:06] zacharyburnettNOAA commented on #40
thank you!

[2021-10-20 19:47] WPringle opened #61 "Produce progress slides/document for meeting with Khachik."
Next Tuesday 26th morning we have a meeting with Khachik to discuss progress on the UQ work (I hope can all join?)

William and Zach should prepare some slides or document to outline the progress made. Clearly show what we are trying to achieve and the steps taken. Also include the remaining things that we are unsure about so can discuss and get clarification.

[2021-10-26 15:49] saeed-moghimi-noaa opened #62 "Notes and next steps from meeting on 10/26/2021 with Khachik"
## Saeed notes from meeting on 10/26/2021 with Khachik

@WPringle  and @zacharyburnettNOAA  see if this note is useful.

### Notes for William

- [ ] using a polynomial for the surrogate might not be the best method for maximum elevations
    - because it might be “jumpy” (discontinuous) - perhaps look into time series for PC?
    - 3rd order polynomial might be overfitting because of too many deg

[2021-12-02 16:24] zacharyburnettNOAA opened #64 "build quadrature + validation for 3 storms"

[2021-12-02 16:42] #61 closed

[2021-12-02 17:00] zacharyburnettNOAA commented on #39
@WPringle I've updated the list to include some products that I think are reasonable deliverables for the end of the year

[2021-12-02 18:04] WPringle commented on #64
@zacharyburnettNOAA Thanks, I have made the subsetted meshes and got the storm data, but seems like cannot access Orion at the moment. Will let you know once I transferred them over.

[2021-12-03 02:35] WPringle commented on #64
@zacharyburnettNOAA Please find the subsetted meshes for each storm on Orion at: `/work/noaa/nosofs/share/wpringle/HSOFS_Subset_Storms`

This directory is actually something I made for the paper, where you can select any storm you want and run the `besttrack_subset_merge.py` python script to subset and merge the mesh in a few minutes. But need MATLAB and OceanMesh2D.

[2021-12-03 15:13] zacharyburnettNOAA commented on #64
excellent, thanks!

[2021-12-13 23:03] WPringle commented on #64
@zacharyburnettNOAA Just wondering if have any update on Sandy and Irma simulations?

[2021-12-14 15:38] zacharyburnettNOAA commented on #64
I had a few issues with running `aswip` but I have now figured out the problems, I should have the model results soon

[2021-12-14 16:40] WPringle commented on #64
Great, thanks.
But just a note if we do use `nws=8` standard holland model then `aswip` is not needed.

[2021-12-22 16:26] zacharyburnettNOAA commented on #64
I've tracked down the issue; when I was reading in the Sandy and Irma ATCF, the parser was parsing the storm name  as a single newline `\n` for some reason, which was messing up the output. I'm fixing it now so we should have Sandy and Irma results running soon

[2021-12-23 15:14] zacharyburnettNOAA commented on #64
Spinup for Sandy 2012 fails on the subsetted mesh with the following error:
[code]
[code]
I will attempt to use the full 250m HSOFS mesh to rule out problems with the mesh subsetting.

[2021-12-27 21:49] WPringle commented on #64
@zacharyburnettNOAA Thanks that's a good idea to try the non-subsetted version. Also you may try to reduce time step (e.g., if using 6 sec reduce by half to 3 sec).

[2021-12-27 23:05] zacharyburnettNOAA commented on #64
good idea, I will try that as well.

I also found out that the parsed best track data for Sandy 2012 had incorrect `Rmax` (it was set to 0 across the entire track), which made ADCIRC break upon hotstart. I manually updated the file and perturbations and am running the new ensemble for Sandy 2012 now.

[2021-12-29 17:14] zacharyburnettNOAA commented on #64
quadrature + validation runs for Sandy 2012 and Irma 2017 have completed at a 3 second time interval and proper best track. I am now running `combine_results`

[2022-01-05 16:53] WPringle commented on #64
@zacharyburnettNOAA Can you please share with me (wpringle@anl.gov) the google slides we were making? My NOAA account was temporally disabled. Thanks.

[2022-01-05 21:13] zacharyburnettNOAA commented on #64
sure thing, sent

[2022-01-05 21:15] WPringle commented on #64
@zacharyburnettNOAA Thanks I got it. I'll try out your edits to the code. The joint KLPC seems to be working anyway. Actually gives very similar result to without using KL. I guess that's expected, just less computationally expensive.

[2022-01-07 17:52] WPringle commented on #64
@zacharyburnettNOAA Hi Zach, can you do the Florence best track again for another 50 random samples? I want to try build training without the quadrature (maybe also try UQTk again and then convert to the chaospy ndpoly type). So then I can use 50 of samples for training and 50 for validation.

[2022-01-07 17:53] WPringle commented on #64
@zacharyburnettNOAA Are the Sandy combined results available on Orion?

[2022-01-10 22:40] WPringle commented on #64
@zacharyburnettNOAA I noticed that the `along_track` perturbation doesn't seem to be doing anything in the Florence best track example (the model results and the fort.22 for location is same as other perturbations for different `along_track` and same `cross_track`). Can please make sure that `along_track` is being called correctly.

[2022-01-10 22:40] WPringle opened #65 "`along_track` perturbation not being called?"
@zacharyburnettNOAA I noticed that the along_track perturbation doesn't seem to be doing anything in the Florence best track example (the model results and the fort.22 for location is same as other perturbations for different along_track and same cross_track). Can please make sure that along_track is being called correctly.

[2022-01-11 01:27] WPringle commented on #65
@zacharyburnettNOAA Update is that I tried just doing say 2 variable perturbation to make it simpler:

For some reason I keep getting no difference between `original.22` and `vortex_2_variable_quadrature_1.22` files but I get correct difference between `original.22` and `vortex_2_variable_quadrature_16.22`.

[2022-01-11 14:49] zacharyburnettNOAA commented on #64
@WPringle sorry I forgot to reply to this. I put the Sandy results on Orion at `/work/noaa/nosofs/share/working/hera/nems_adcirc/run_20211227_sandy_besttrack_250m_quadrature/`. The Irma results still have some issues that I have been working through.

I will build another 100-member validation run for Florence once Hera comes out of its current maintenance period

[2022-01-11 16:16] WPringle commented on #64
@zacharyburnettNOAA Zach I had some other thoughts now.
Let's try to simplify things and start with a 2 variable ensemble. That way quadrature is just 16 members. We can also try other sampling methods like [latin_hypercube](https://chaospy.readthedocs.io/en/master/_modules/chaospy/distributions/sampler/latin_hypercube.html).

It seems like `cross_track` and `max_wind_speed` are the most impactful

[2022-01-11 16:51] WPringle commented on #65
@zacharyburnettNOAA Recent commit #21fef03c7fa fixes this,  alpha < 0 wasn't being implemented correctly.

[2022-01-11 18:06] zacharyburnettNOAA commented on #64
that sounds like a simpler way to start, good idea

[2022-01-11 18:08] zacharyburnettNOAA commented on #65
added test in 24a3e4153764e0b61574248fc62d4b1e1407255a

[2022-01-11 19:12] WPringle commented on #65
@zacharyburnettNOAA I fixed the `along_track`, the perturbation wasn't being convtered to meters for nautical miles.

[2022-01-11 19:14] #65 closed

[2022-01-11 19:15] WPringle commented on #64
@zacharyburnettNOAA Please if you can, implement various sampling options from `perturb_track` call.

[2022-01-12 03:59] WPringle commented on #64
@zacharyburnettNOAA FYI,I'm trying out the different sampling methods and running the two variable ensembles on Argonne machine right now

[2022-02-08 13:32] zacharyburnettNOAA commented on #64
@WPringle here's an alternate sampling method that the authors call "Smolyak sparse grid from the extrema of Chebyshev polynomials (Clenshaw-Curtis quadrature)"
![image](https://user-images.githubusercontent.com/52422935/152997220-39500533-d5a7-454e-9279-4b70843b1792.png)
from https://www.sciencedirect.com/science/article/pii/S0098135419310026

[2022-02-08 13:54] zacharyburnettNOAA opened #70 "sparse quadrature sampling"
notes from 2022-02-01

- can different sampling methods per-variable improve the accuracy / efficiency of the surrogate?
    - look into the possibility of building a sparse quadrature
        - build with projection instead of regression
        - “quadrature usually doesn’t work for physical models because of noise or whatever”
- UQTk uses “Bayesian compressed sensing”
    - Bayesian compressed

[2022-02-08 13:54] zacharyburnettNOAA commented on #70
@WPringle here's an example of a sparse sampling method that the authors call "Smolyak sparse grid from the extrema of Chebyshev polynomials (Clenshaw-Curtis quadrature)"
![image](https://user-images.githubusercontent.com/52422935/152997427-f80678c2-ad0b-4241-9755-1e48bacbc04e.png)
from https://www.sciencedirect.com/science/article/pii/S0098135419310026

[2022-02-08 14:18] zacharyburnettNOAA opened #71 "polynomial order / count determination"
the number of expanded polynomials `M` can be found by
[code]
where `N` is the number of variables and `P` is the highest order.

This is equation 5 from https://www.sciencedirect.com/science/article/pii/S0098135419310026:
![image](https://user-images.githubusercontent.com/52422935/153004632-1017e86e-7741-4e20-bd39-231671a38f3d.png)

Therefore, a 3rd order polynomial with 4 variables expands to 34

[2022-02-08 14:19] zacharyburnettNOAA commented on #70
the number of expanded polynomials `M` can be found by
[code]
where `N` is the number of variables and `P` is the highest order.

This is equation 5 from https://www.sciencedirect.com/science/article/pii/S0098135419310026:
![image](https://user-images.githubusercontent.com/52422935/153004632-1017e86e-7741-4e20-bd39-231671a38f3d.png)

Therefore, a 3rd order polynomial with 4 variables expands to 34

[2022-02-08 14:19] #71 closed

[2022-02-08 14:30] zacharyburnettNOAA commented on #70
# next steps

- [ ] attempt to plot comparison plot with color values along some spatial axis
    - perhaps along the northeast line, or distance from the storm centerline?
- [ ] see if the problem with negative polynomial values is a problem
    - [ ] solution 1: model logarithm of water elevation and attempt to build surrogate
    - [ ] solution 2: model water depth instead of water elevation
-

[2022-02-08 16:18] zacharyburnettNOAA opened #72 "build an ensemble with a number of data points (ensemble members) greater than or equal to the number of polynomials"
for an L2 (smoothness) constraint, build an ensemble with `D` members, where
[code]
or, in Python:
[code]

[2022-02-08 17:44] zacharyburnettNOAA opened #73 "look into the possibility of building a sparse quadrature"

[2022-02-18 15:30] zacharyburnettNOAA commented on #72
I'm not sure about the rest of L1, but Khachik said that Lasso would be able to handle factors of 2 or 3, so I guess for Lasso you would multiply these ensemble sizes by `0.25`

[2022-03-08 16:16] WPringle commented on #73
Looking into now on #74

[2022-03-10 15:37] saeed-moghimi-noaa opened #76 "Handle dry point"

[2022-03-10 15:38] saeed-moghimi-noaa commented on #76
@WPringle Please document the problem and your current solution. Thanks.

[2022-03-14 21:27] zacharyburnettNOAA commented on #76
currently, the issue is that a large amount of mesh nodes are dry (`NaN` water elevation) throughout the ensemble space. These nodes are not all colocated, and such one particular mesh node might be dry in one ensemble member and wet in another. This is problematic for the polynomial fitting, as it expects to be fitting to a continuous function of water elevation.

The initial solution was to assi

[2022-03-14 23:25] WPringle commented on #76
<img width="597" alt="image" src="https://user-images.githubusercontent.com/21131934/158276862-78214106-6554-4954-991b-bdfefe7a93f1.png">

[2022-04-27 17:21] #72 closed

[2022-04-28 20:18] zacharyburnettNOAA commented on #31
this looks very good!

[2022-04-29 13:55] SorooshMani-NOAA opened #82 "CLI entrypoints don't work"
- `make_storm_ensemble` has some syntax issues
- After updating to `pyproject.toml` the entrypoints are defined incorrectly

[2022-04-29 15:27] #82 closed

[2022-06-07 13:17] SorooshMani-NOAA opened #86 "Adding bathymetry perturber"
@BahramKhazaei-NOAA, can you please look into adding the code for bathymetric perturbation under `EnsemblePerturbation/ensembleperturbation/perturbation/bathymetry.py`? You can start adding a first iteration of it in a new branch, e.g. called `feature/bathy` and then later we'll work on it to polish it and integrate it with the rest of the workflow in the repository.

Thanks

[2022-06-07 13:35] BahramKhazaei-NOAA commented on #86
Thanks Soroosh! That sounds good. I'll start working on that.

[2022-07-20 19:36] SorooshMani-NOAA opened #87 "Add support for parsing and analyzing SCHISM script"
Add basic support for parsing SCHISM outputs and analyzing it using existing example scripts:
- [x] Add support for SCHISM perturbed track (ensemble) generation
- [X] Add parser for SCHISM ensemble outputs
- [X] Support ADICRC-like output for SCHISM parser (for compatibility with existing analysis scripts)
- [x] Test on ensemble output and fix bugs/issues

Is fixed by #85

[2022-07-21 19:07] SorooshMani-NOAA commented on #87
Refer to the discussion in the relevant pull request

[2022-08-26 15:47] #87 closed

[2022-09-13 17:19] SorooshMani-NOAA opened #88 "Bayesian analysis for calibration of input perturbation"

[2022-09-13 19:03] SorooshMani-NOAA commented on #88
@WPringle based on the discussion we had today, we only need to run best track for a couple of storms and with a couple of different ensemble sizes with Korobov sampling right?

[2022-09-13 21:15] WPringle commented on #88
@SorooshMani-NOAA because it is best track we should change how we do the ensemble perturbation. I think we need to work out that strategy first, then we do ensemble then check that the ensemble results encompass the observations.

This paper is relevant which also look at best track:
Sochala, P., Chen, C., Dawson, C., & Iskandarani, M. (2020). A polynomial chaos framework for probabilistic predic

[2022-09-13 21:16] WPringle commented on #88
@SorooshMani-NOAA You can see they also perturb manning's roughness too.

[2022-09-23 14:14] SorooshMani-NOAA opened #89 "Incompatible with `pandas >= 1.5.0` due to `SettingWithCopyWarning`"
Pandas new version has moved the class to a new location, it should be imported as:
[code]
The error in EnsemblePerturbation:
[code]

Also check for other incompatibilities

[2022-10-03 19:41] SorooshMani-NOAA commented on #88
Just for the sake of completeness of this discussion:
We discussed how to generate ensembles and eventually decided to just run ensembles of different storms with different sizes for now. This is due to the limitation we had on using the available resources in terms of time.

Later we'll explore other parameter perturbations.

[2022-10-03 19:44] SorooshMani-NOAA commented on #88
@WPringle have you tried running KL-NN code on the sample data? During our meeting (and also in the slides) it says the data is time dependent. But looking at the `ydata.txt` and the code that was shared with us, it seems that it's using data that is of the shape `ensemble x mesh-node`. Do you know if the plots in the slides where generated using the same code or not?

I haven't tried running it y

[2022-10-03 20:15] WPringle commented on #88
I did run the code using the sample data and the plots on the slides are the result of that execution.

I wouldn't worry about whether it is "x" or "t", it is somewhat arbitrary and methodology can handle spatiotemporal in theory. But I am pretty sure "x" is referring to a time dimension here based on how it looks

[2022-10-03 20:34] SorooshMani-NOAA commented on #88
I see, thank you

[2022-10-03 21:26] SorooshMani-NOAA commented on #88
@WPringle I forgot to also ask, have you tried it on an ensemble too? Was there any issue I need to be aware of if I want to run this on combine maxelev ensemble dataset?

[2022-10-04 15:04] WPringle commented on #88
No I did not. Just be aware of the dimensions of the data, number of parameters, number of nodes, and number of ensembles and how that fits into that code. It should be able to run through to the part where it requires the observations

[2022-10-18 18:38] SorooshMani-NOAA commented on #88
@WPringle I'm testing the KLNN (without MCMC part) on the same ensemble I used with your KLPC. I actually subsetted the maxelev dataset using your subsetting part of the KLPC script (from [`examples/karhunenloeve_polynomialchaos/klpc_wetonly.py`](https://github.com/noaa-ocs-modeling/EnsemblePerturbation/blob/main/examples/karhunenloeve_polynomialchaos/klpc_wetonly.py)). Although the dataset now fi

[2022-10-18 18:42] WPringle commented on #88
Yes, please use the PCA method we use in `EnsemblePerturbation`

What other methods are there? For the KLPC we have an analytical solution to convert the KL fit surrogate back to the full-dimension surrogate, which is at least one advantage I can think of...

[2022-10-18 18:56] SorooshMani-NOAA commented on #88
OK thanks!

I was talking in general, I know there are a bunch of dimension reduction techniques which might be better than PCA based certain ways/applications; so I was wondering if there's any specific reason. e.g.: https://towardsdatascience.com/11-dimensionality-reduction-techniques-you-should-know-in-2021-dcb9500d388b

I see, I didn't really think about this part. It would still be interestin

[2022-10-18 19:12] WPringle commented on #88
yeah that's interesting! For sure explore them if you want to, we can have a meeting with Khachik sometime to discuss this, he might be able to say why we would prefer one type of method over another.

[2022-10-31 14:52] SorooshMani-NOAA commented on #88
Copying the email for future reference:

[2022-10-31 14:53] SorooshMani-NOAA commented on #88
I tried using the `sklearn` PCA and the KLNN part goes through successfully now. I downloaded USGS data and selected all the locations that are within the polygon of the mesh. Since the stations were not available at the time of simulation, I'm interpolating results to the station locations for the analysis. Now I'm trying to fix `nan` data and/or dimension mismatches to run the full KLNNMCMC.

[2022-11-16 20:08] WPringle commented on #88
@SorooshMani-NOAA Could you please share the code you have so far for the results we looked at yesterday with Khachik?

[2022-11-16 20:35] SorooshMani-NOAA commented on #88
@WPringle I uploaded the code on a private repo for now. I just added you and Saeed as collaborator. Note that the code must run on an already subsetted dataset. I tried to get it to work with minimum changes possible.

[2022-11-16 20:41] SorooshMani-NOAA commented on #88
This is the plot I get for the MCMC results. If I discard the first half and pick every 10th:
![image](https://user-images.githubusercontent.com/77082694/202289183-72753011-998f-4257-9209-7149608d6ed3.png)

Each plot is for one of the parameters values in Y axis vs X axis, the sample index. It seems that `gamma` in the code plays a major role in determining how white-noise like the parameters are;

[2022-11-16 20:50] SorooshMani-NOAA commented on #88
I also increased the 2000 epochs to 20,000 and it definitely improved the NN:
![image](https://user-images.githubusercontent.com/77082694/202291072-82473c4a-3079-4308-94ee-b6f4ce746658.png)
and
![image](https://user-images.githubusercontent.com/77082694/202291166-c6e6ef47-f396-42cd-8978-3075a6df7449.png)

[2022-11-16 21:25] SorooshMani-NOAA commented on #88
@WPringle if I want to train on the whole model but only MCMC on the USGS HWM stations, what should the non-station dimension value be when transforming observations using PCA? Should it be 0?

[2022-11-16 21:39] WPringle commented on #88
@SorooshMani-NOAA That's a good question. I suppose 0 makes sense because in the matrix multiplication zeros will add nothing. Or if it doesn't work then we need to probably do the MCMC on the full result, rather than the dimensionally reduced result. First let's try zero and see...

[2022-11-18 18:45] SorooshMani-NOAA commented on #88
@WPringle, sorry for late reply. Yes that's what I meant. I'll try and see how it goes

[2022-11-18 18:50] SorooshMani-NOAA commented on #88
On a separate note, I plotted the MCMC results vs obs as well as model vs obs and it doesn't really look good. Note that I've already cut off HWM locations that are higher than 2 meter or less that 1 meter outside the min/max of HWM station resutls in the model and still it doesn't look good. I think I need to actually rerun the simulations:
![image](https://user-images.githubusercontent.com/77082

[2022-11-22 22:04] SorooshMani-NOAA commented on #88
This is a diagnostic plot for best track model vs obs
![bt_vs_obs_schism_n_adcirc](https://user-images.githubusercontent.com/77082694/203430538-070dce2b-ac57-4dd9-a40b-ef5e2516983a.png)
I couldn't find a recent ADCIRC run, but this is a Florence sim using ADCIRC from Zach's older files. It seems that the ADCIRC setup would result in better results in this specific case. I need to also check my oth

[2022-11-22 22:31] WPringle commented on #88
What's the reason for the different number of points? Maybe the mesh region? I think it would help to plot the same points

[2022-11-22 23:39] SorooshMani-NOAA commented on #88
Yeah, that'd make more sense. As you said the difference is due to `nan` values I get during interpolation which is related to the meshed region.

[2022-11-23 00:14] SorooshMani-NOAA commented on #88
This is the result, I think I need to look at my workflow ensemble results to see if it's any better. If not I might just need to improve the mesh and rerun.
![bt_vs_obs_schism_n_adcirc](https://user-images.githubusercontent.com/77082694/203444446-fb5ffb1c-63c7-4680-a8fe-bdae1962c9d3.png)

btw, I forgot to include this one. It is the same fit plot, but without low quality hwm data:
![fit](https://

[2022-11-23 17:02] SorooshMani-NOAA commented on #88
Using the full model + interpolated data on stations to train and then only stations for MCMC with 0 in other nodes:

![loss_history_log](https://user-images.githubusercontent.com/77082694/203604737-f2ff7ec6-cd38-469b-9307-b4cf25faf755.png)
![model_surr](https://user-images.githubusercontent.com/77082694/203604791-a0da62fb-0169-4006-86dc-cd13e1372a22.png)

It actually looks worse!
![fit](https://u

[2022-11-28 20:49] SorooshMani-NOAA commented on #88
The results of the two tasks in the previous comment were not very promising, I don't see any points in sharing the plots. One interesting point I noticed is that the ensemble from the workflow seem to have elevation biased compared to COOPS observations. I'm investigating it by plotting time series. However the strange part is that the test set-up was not different from the workflow setup other t

[2022-11-30 16:38] WPringle commented on #88
@SorooshMani-NOAA About the NN size. Actually it should be mean of the total size of input and output. So input is size ndim*neig and output is size 1xneig, which means you can set the neuron size to be = neig(ndim+1)/2